@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

a.active{
  background: #cba135;
}

/* Loader Animation */
.loader-dual-ring {
  display: inline-block;
  border-style: solid;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


